.jumbotron {
  background-color: #99003d;
  color: #ffffff;
  padding: 100px 25px;
}

.container {
  padding: 60px 50px;
}

.navbar {
  margin-bottom: 0;
  background-color: #404040;
  color: #cc3300;
}

.nav-link, .navbar-brand {
  color: #ffffff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #ff6666;
}

.navbar-collapse {
  justify-content: flex-end;
}

.list-group-sidebar .list-group-item {
  color: #cc3300;
}

.list-group-sidebar .list-group-item:hover {
  color: #ff6666;
}

.list-group-sidebar .list-group-item.active {
  color:#ffffff;
  background-color:#404040;
}

.list-group-sidebar-collapse {
  justify-content: flex-end;
}

.card {
  margin-bottom: 10px;
}

.card-header {
  background-color:#d9d9d9;
}

.card-body {
  background-color:#f2f2f2;
  padding: 30px 10px;
}

.card-title {
  color:#000080;
}

.asset-card-body {
  background-color:#ffffe6;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 40rem;
}
