[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
argon2-cffi = "*"
sqlalchemy = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"

[dev-packages.python-language-server]
extras = [ "all",]
