{% extends "base.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    {% include "dashboard/sidebar.html" %}
    <div class="col-9">
      <div class="card">
        <div class="card-header font-weight-bold">Add a new asset</div>
        <div class="card-body">
          <form method="POST">

            <div class="form-group">
              <label for="AssetDescription">Asset Description*</label>
              <input name="description" type="text" class="form-control" id="AssetDescription"
                placeholder="Enter asset description" required>
            </div>

            <div class="form-group">
              <label for="DefaultLocation">Default Location*</label>
              <input name="default_location_lat" type="text" class="form-control {% if is_invalid %} is-invalid {% endif %}" id="DefaultLocation"
                placeholder="Enter asset latitude" required>
              <input name="default_location_long" type="text" class="form-control {% if is_invalid %} is-invalid {% endif %}" id="DefaultLocation" placeholder="Enter asset longitude" required>

              {% if is_invalid %}
                <div class="invalid-feedback">
                  Please only enter decimal numbers
                </div>
              {% endif %}
            </div>


            <div class="form-group">
              <label for="CurrentLocation">Current Location*</label>
              <input name="current_location_lat" type="text " class="form-control {% if is_invalid %} is-invalid {% endif %}" id="CurrentLocation"
                placeholder="Enter asset latitude" required>
              <input name="current_location_long" type="text" class="form-control {% if is_invalid %} is-invalid {% endif %}" id="CurrentLocation" placeholder="Enter asset longitude" required>

              {% if is_invalid %}
                <div class="invalid-feedback">
                  Please only enter decimal numbers
                </div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="Status">Status</label>
              <select class="custom-select" id="Status" name="status" required>
                <option value="Available">Available</option>
                <option value="Faulty">Faulty</option>
                <option value="Moved">Moved</option>
                <option value="Lost">Lost</option>
              </select>
            </div>

            <div class="form-group">
              <br>
              <label for="Notes">Notes (Optional)</label>
              <input type="text" class="form-control" id="Notes" placeholder="Notes (optional)">
              <small id="SecurityWarning" class="form-text text-muted">* Mandatory fields</small>
            </div>

            <button type="submit" class="btn btn-primary">Create Asset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
