{% extends "base.html" %}

{% block body %}
<h1>New User</h1>

<form action="/new_user" method="post">
  <label for="name">User name:</label><br>
  <input type="text" name="name" required><br>
  <label for="password">Password:</label><br>
  <input type="password" name="password" required><br>
  <label for="verify_password">Verify Password:</label><br>
  <input type="password" name="verify_password" required><br>
  <input type="submit" value="Login">
  <input type="reset" value="Reset">
</form>

{% if is_taken %}
<p>User name already taken</p>
{% endif %}

{% if is_invalid %}
<p>Passwords do not match</p>
{% endif %}
{% endblock %}
