{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row">
  {% include "dashboard/sidebar.html" %}

    <div class="col-9">
      <h4>Asset Tracking Dashboard</h4>

      <div class="card mt-4">
        <div class="card-header font-weight-bold">Asset Listing</div>
          <div class="card-body">
            <div class="row">
              {% for asset in assets %}
              <div class="col-3">
                <div class="card" style="width: 20rem;">
                  <div class="card-body asset-card-body">
                    <h5 class="card-title text-center font-weight-bold">AssetID: {{ asset.id }}</h5>

                    <p class="card-text"><b>Description:</b> {{ asset.description }} </p>
                    <p class="card-text"><b>Status:</b> {{ asset.status.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
      </div>

      <div class="card mt-4">
        <div class="card-header font-weight-bold">Asset search</div>
        <div class="card-body">
          <form>
            <div class= "form-group">
              <input type="text" placeholder="Search by tracking code" name="search">
              <button type="submit">Search</button>
            </div>

            <div class="form-footer">
              <p><a href="#">Advanced search options</a></p>
            </div>
          </form>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header font-weight-bold">Asset Map</div>
        <div class="card-body text-center">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
